<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
  <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Open Data Registry</title>
     <meta name="copyright" content="Open Data Registry, Inc. 2011"> 
    <meta name="author" content="Open Data Regisry, Inc."> 
    <meta name="description" content="Open Data Registry, Inc."> 
    <meta name="keywords" content="odr, open data registry, "> 
    <meta name="email" content="info@opendataregisry.com"> 
    <meta name="Robots" content="index,follow"> 
    <meta name="Revisit-after" content="1 days">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS -->
    <!--<link rel="stylesheet" href="css/base.css">-->
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/bootstrap.css">    
    <link rel="stylesheet" href="css/layout.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <!-- Scripts -->    
    <script type="text/javascript" src="/js/jquery.min.js"></script> 
    
</head>

<body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <div class="sixteen columns">
                    <a class="brand" href="#">Open Data Registry</a>        
                    <p class="pull-right"><a href="#">Login</a></p>              
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="main" >
        <div class="container">
            <div class="headline">
                <div class="thirteen columns">
                    <h1>The Green Economy Platform</h1>
                    <span class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <div class="buttons">
                        <a href="mailto:info@opendataregistry.com" class="btn large contact-button">Contact Us</a>
                        <a href="#" class="btn large signup-button">Beta Sign Up</a>
                    </div>
                </div>

                <div class="three columns tree_wrap">
                    <img class="tree" src="/img/tree_small.png"></img>
                </div>

            </div>
        </div>
    </div>


    <div id="second">
        <div class="container users">
            <div class="five columns">
                <div class="span">
                    <h6>Brands</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="six columns">            
                <div class="span">
                    <h6>Suppliers</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="five columns">            
                <div class="span">
                    <h6>Developers</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="third">
        <div class="container details">
            <div class="eight columns">
                <div class="span">
                    <h6>App Ecosystem</h6>
                    <div class="app">
                        <div class="app-img">                        
                            <img src="/img/green_earth.png"></img>
                        </div>
                        <div class="app-details">
                            <span><em>Eco-Efficiency</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
                        </div>
                    </div>
                    <div class="app">
                         <div class="app-img">                        
                             <img src="/img/green_ind.png"></img>
                         </div>
                         <div class="app-details">
                             <span><em>Risk Management</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </span>
                         </div>
                    </div>
                    <div class="app">
                        <div class="app-img">                        
                            <img src="/img/green_design.png"></img>
                        </div>
                        <div class="app-details">
                            <span><em>Green Design</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight columns">            
                <div class="span products">
                    <h6>Registered Products: <em>9,864,524</em></h6>
                    <img src="/img/map.png" class="map scale-with-grid"></img>
                </div>
            </div>           
        </div>      
    </div>
    
    <div class="container">
     <footer>
        <span class="twitter"><a href="https://twitter.com/#!/getodr" target="_blank"><img src="/img/twitter_32.png"></img></a></span>
        <span class="facebook"><a href="https://www.facebook.com/opendataregistry" target="_blank"><img src="/img/facebook_32.png"></img></a></span>        
        <span class="copy">&copy; Open Data Registry</span>
        <p class="pull-right"></p>
      </footer>
     </div>
</body>
</html>
