<div class="blue-back" >
    <div class="container">
        <div class="headline">
            <div class="thirteen columns">
                <h1>Powering the Green Web</h1>
                <p class="lead">Open Data Registry (ODR) brings together <em>Brands</em>, <em>Suppliers</em>, &amp <em>Developers</em> around a common platform for securely sharing &amp processing supply chain data. </em></p>
                <p class="lead">Built upon <a href="http://en.wikipedia.org/wiki/Linked_data">linked open data</a> standards, ODR allows Brands and Suppliers to free their data and make it actionable via a secure data registry and access protocol. </p>
                <div class="buttons">
                    <a href="mailto:info@opendataregistry.com" class="btn large contact-button">Contact Us</a>
                    <a href="/beta/register" class="btn large signup-button">Beta Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="users-wrap grid-back">
    <div class="container users">
        <div class="five columns">
            <div class="span">
                <h6>Brands</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="six columns">            
            <div class="span">
                <h6>Suppliers</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="five columns">            
            <div class="span">
                <h6>Developers</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>

<div class="details-wrap gray-back">
    <div class="container details">
        <div class="eight columns">
            <div class="span">
                <h6>App Ecosystem</h6>
                <div class="app">
                    <div class="app-img">                        
                        <img src="/img/green_earth.png"></img>
                    </div>
                    <div class="app-details">
                        <span><em>Eco-Efficiency</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
                    </div>
                </div>
                <div class="app">
                     <div class="app-img">                        
                         <img src="/img/green_ind.png"></img>
                     </div>
                     <div class="app-details">
                         <span><em>Risk Management</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </span>
                     </div>
                </div>
                <div class="app">
                    <div class="app-img">                        
                        <img src="/img/green_design.png"></img>
                    </div>
                    <div class="app-details">
                        <span><em>Green Design</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight columns">            
            <div class="span products">
                <h6>Registered Products: <em>9,864,524</em></h6>
                <img src="/img/map.png" class="map scale-with-grid"></img>
            </div>
        </div>           
    </div>      
</div>