<div class="blue-back" >
    <div class="container">
        <div class="headline">
            <div class="thirteen columns">
                <h1>Linking the Web of Goods</h1>
                <p class="lead">Open Data Registry (ODR) links together the data enterprises and consumers need to make better decisions about how to make, buy and use goods.</p>
                <p class="lead">Built upon <a href="http://en.wikipedia.org/wiki/Linked_data">linked open data</a> standards, ODR provides a secure registry and access protocol for enterprises to safely share supply chain data with apps for computation, so they can innovate more sustainable products for their customers.</p>
                <div class="buttons">
                    <a href="/jobs/careers.html" class="btn large careers-button">Careers</a>
                    <a href="/beta/register" class="btn large signup-button">Beta Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="users-wrap grid-back">
    <div class="container users">
        <div class="sixteen columns">
            <div class="customer">
                <div class="span">
                    <h6>Sustainable Enterprises</h6>
                    <p>In the green economy, competition is no longer B2B but N2N, where whole supply networks race to out-innovate each other.</p>
                    <p>ODR gives your enterprise the multi-tier supply chain transparency and data driven eco-analytics you need to reach your most ambitious goals.</p>
                </div>
            </div>
            <div class="customer">
                <div class="span">
                    <h6>Standards Publishers</h6>
                    <p>When standards, indexes and metrics are published to the Web of Goods through ODR’s access protocol they become computable.</p>
                    <p>This enables apps to make calculations based upon the most accurate and up to date science and methodologies.</p>
                </div>
            </div>
            <div class="customer">
                <div class="span">
                    <h6>App Developers</h6>
                    <p>Via Open Data Registry’s access protocol, apps can immediately compute over any supply chain data and standards published to the Web of Goods.</p>
                    <p>This gives your users the power of eco-analytics to make better decisions about how they make, buy and use goods.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details-wrap gray-back">
    <div class="container details">
        <div class="nine columns">
            <div class="span">
                <h6>App Ecosystem</h6>
                <div class="app">
                    <div class="app-img">                        
                        <img src="/img/gear.png"></img>
                    </div>
                     <div class="app-header">Make</div>
                    <div class="app-details">
                        <span>Sustainable design and eco-efficient production of goods</span>
                    </div>
                </div>
                <div class="app">
                     <div class="app-img">                        
                        <img src="/img/cash.png"></img>
                     </div>
                     <div class="app-header">Buy</div>
                     <div class="app-details">
                         <span>Apples-to-apples comparisons and benchmarking of goods</span>
                     </div>
                </div>
                <div class="app">
                    <div class="app-img">                        
                        <img src="/img/recycle.png"></img>                         
                    </div>
                    <div class="app-header">Use</div>
                    <div class="app-details">
                        <span>Responsible use and disposal of chemicals and consumer goods</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="seven columns">            
            <div class="span products">
                <h6>Registered Goods: <em>10,320,491</em></h6>
                <img src="/img/map.png" class="map scale-with-grid"></img>
            </div>
        </div>           
    </div>      
</div>
