

<div class="users-wrap grid-back">
    <div class="container users">

<h1>Careers</h1>


Open Data Registry is looking for talented and motivated people to join our team.  We currently have the following open positions.  But don't feel limited by these listings - if you are motivated by our mission, and you think you have something valuable to bring to our team, <a href="mailto:info@opendataregistry.com">we'd love to hear from you!</a>
<p/>
<h2></h2>
<b>Open Position: </b><a href="http://opendataregistry.com/jobs/FSEngineer.html">Full-stack application engineer</a>
<p/>Location: Berkeley, CA
<h2></h2>
<b>Open Position:</b> <a href="http://opendataregistry.com/jobs/UXDesign.html">User Experience Designer</a><p/>
Location: Berkeley, CA

    </div>
    
</div>
