

<div class="users-wrap grid-back">
    <div class="container users">

<h2>Open Position: Full Stack Web Developer</h2>
Company: Open Data Registry, <a href="http://www.opendataregistry.com">opendataregistry.com</a><p/>
Location: Berkeley, CA


<h3>The Company:</h3>

Are you looking to work for a company that combines cutting-edge technology with a big vision? Open Data Registry's mission is to make transparent the environmental, social and health impacts of 80% of products on Earth by 2020.<p>
<p/>
We are building a supply chain intelligence platform for a new generation of collaborative web apps that will unlock the $1 trillion of business value hidden in the inter-enterprise data distributed across global supply chains. These apps make it more valuable for product manufacturers to share their data on the web than it is to not share it, creating the network effects needed to achieve our 80/20 mission.
<p/>
Our founding team is a Stanford MBA, a member of the Sustainability Hall of Fame, and one of the world's leading experts in Linked Data and the Semantic Web.
<p/>
We have seed funding from Andreessen Horowitz and major consumer brands as pilot customers. The key milestone we are driving towards in this seed stage is a public launch in Fall 2013 with one billion products already registered (we already have 20 million registered so far).

<h3>The Role:</h3>

We are looking for a lead engineer to write all the code and unit tests across the end-to-end Registry. You will be responsible for:
<p/>
 <ul > <li > Leading an agile development process working closely with the CEO who serves as the product manager, the CTO who is responsible for all back-end data concerns, and a UX designer. In developing end-user apps, you will also work closely with our Chief of Business Development, who will bring you in to design sessions with key customers.</li>

<li> Application platform architecture.  The Open Data Registry is, among other things, a platform for innovative data-intensive apps that provide visibility for a wide variety of stakeholders into our rich data back-end.  You'll design the architecture to support developers of those apps.</li>
<li>     Application development.  The third-party developers don't get all the fun - you will develop some of the first apps on the platform, to show off the capabilities of the system</li>
<li> Data gathering and management.  The platform is only as good as the data in it.  We're getting data from all over the world in a variety of formats.  You'll build an infrastructure to help organize where it came from and what's where. </li>
<li>          Interface with a big Linked Data back end.  The data registry is a linked data repository that connects all this data together in a graph datastore.  Your architecture will integrate with this highly flexible data store. </li>
<li>          We'll need you to have an agile mindset so that our product works for many different types of users: customers, suppliers, brands, industry regulators, etc., and with users from around the world; Asia, Middle-East, South America, </li>
</ul>


<h3>Our Ideal Candidate:</h3>
<ul><li>          Is a full-stack engineer who can articulate to us the benefits of developing the end-to-end Registry on top of their preferred stack (or combination of stacks) (i.e. Node.js, jQuery, Meteor, Ruby, Python, etc.)</li>
<li>          Has a portfolio of showcase web deployments (showing off skills along the whole stack).</li>
<li>          Has an affinity and aptitude for distributed data applications. ODR's data architecture is based on Linked Data standards of RDF and SPARQL; familiarity with these technologies would be ideal.</li>
<li>          Is a prolific coder -- you know you churn out code 5x faster at 5x quality as the average engineer in the Valley; but you're also modest enough to play well in teams and teach less experienced programmers your tricks</li>
<li>          Is a learning animal who is quick at picking up new technologies (languages, APIs, design patterns, etc)</li>
<li>          Has strong interpersonal and communication skills (must be comfortable in close quarters and social office environment)</li>
<li>          Has experience as a software engineer in a lean startup (valuable even if it failed, what's important is that you learned how to learn in that environment)</li>
</ul>
<p/>
 
If these challenges sound like fun and you're looking for a chance to work with an experienced team at a well-funded start-up where you can really make a difference - not only in all aspects of the development lifecycle, but in the future of the planet, you've come to the right place. 

<h3>What to expect:</h3>

Be prepared to work hard as we run fast towards our one year goal of a billion products registered. Your first task upon being hired will be to develop the v0.1 Registry within one month of starting, in order to support the fourth data collection experiment we will be running in our ongoing pilot project with 15 suppliers in South Asia. From there you will run weekly sprints as we iterate our way to a v1.0 ready for public launch in Fall 2013.


<h3>Compensation:</h3>
<ul>
<li> Competitive salary, benefits and equity share</li>
</ul>
 
<h3>How to Apply:</h3>

Send us an email with your resume to <a href="mailto:web_developer-job@opendataregistry.com">web_developer-job@opendataregistry.com</a>

<p/>
<ul>
<li>          tell us in the email what motivated you to apply for this position</li>
<li>          include links to three or more web apps you developed (preferably live apps but video demos also OK)</li>
<li>          describe the specific role you had in developing each app, and the roles of the other key contributors</li>
</ul>
 
<h3>Next Steps:</h3>

<ul> 

<li> Only candidates who are selected for further consideration will be contacted.</li>
<li>          If you are selected for further consideration, then you will receive an email asking you to answer in writing a couple of hypothetical questions about real-world situations you might face if you are hired.</li>
<li>          If you pass this screen, then you will be invited to a group interview with two other qualified candidates.</li>
<li>          If you are selected as a finalist, then you will be invited to an individual interview audition where you will be asked to code up a prototype app in a "private hackathon" with our founding team.</li>
</ul>


    </div>
    
</div>
