

<div class="users-wrap grid-back">
    <div class="container users">

<h2>Open Position: UX Designer</h2>
Company: Open Data Registry, <a href="http://www.opendataregistry.com">opendataregistry.com</a><p/>
Location: Berkeley, CA


<h3>The Company:</h3>

Are you looking to work for a company that combines cutting-edge technology with a big vision? Open Data Registry's mission is to make transparent the environmental, social and health impacts of 80% of products on Earth by 2020.<p>
<p/>
We are building a supply chain intelligence platform for a new generation of collaborative web apps that will unlock the $1 trillion of business value hidden in the inter-enterprise data distributed across global supply chains. These apps make it more valuable for product manufacturers to share their data on the web than it is to not share it, creating the network effects needed to achieve our 80/20 mission.
<p/>
Our founding team is a Stanford MBA, a member of the Sustainability Hall of Fame, and one of the world's leading experts in Linked Data and the Semantic Web.
<p/>
We have seed funding from Andreessen Horowitz and a major consumer brand as pilot customer. The key milestone we are driving towards in this seed stage is a public launch in Fall 2013 with one billion products already registered (we already have 20 million registered so far).

<h3>The Role:</h3>
 
We are looking for a lead UX designer who will be responsible for creating a "zero overhead" product experience (http://tinyurl.com/zero-overhead) for all of ODR's users, from data suppliers to data consumers. Your role will include: 
<ul>
<li><b>Ethnographic observation and other user research methods</b> - analyze suppliers' existing workflows and information assets to understand what is easy and what is difficult for them to provide.</li>
<li><b>Design all aspects of the user experience (both on screen and off screen)</b> - design information gathering processes that interact with suppliers' existing workflows to make the collection of data as seamless as possible</li>
<li><b>Motivate users</b> - build individual and group incentives, game mechanics, learn by example videos, or any other effective strategies into the product experience to increase user motivation and value.</li>
<li><b>Rapid prototyping</b> - from ideas on a napkin, whiteboard sketches, wireframe mockups, to UI prototypes scripted in HTML and/or jQuery.</li>
<li><b>Design and run controlled experiments</b> - well-designed user experiments and data-driven design are especially critical given the business relationship, cultural, language, and geographic obstacles to regular interpersonal interaction with ODR's users.</li>
<li><b>International travel required</b> - primarily in developing countries such as India, Pakistan, China, Brazil, Turkey.</li>
<li><b>Innovation</b> - invent new models of collaboration around data-driven visualizations (e.g. charts) that will enable brands to interact with their upstream suppliers in novel ways that unlock business value.</li>
</ul><p/>
All in all, the user experience has to make it  more attractive to share data than to keep it secret. There are two major contributions to this; providing data has to be easy ("zero overhead"), and it has to return value to the person providing it. You will be responsible for both ends of this equation. 

<h3>Ideal Candidate:</h3>
<ul>
<li>Has led the design of a successful solution to a "grand challenge" design problem.</li>
<li>Has exceptional skill in service design and systems thinking in their approach to creating new user experiences.</li>
<li>Is skilled in ethnography, experimental design, data analysis, and other user research and testing methodologies.</li>
<li>Can see the big picture of a user-centered system, from information suppliers to information consumers. </li>
<li>Has a portfolio of showcase web applications (showing off skill innovating novel solutions to very hard design challenges).</li>
<li>Has an affinity and aptitude for web apps driven by distributed data from many heterogeneous sources.</li>
<li>Is a learning animal who is quick at picking up new design techniques and technologies</li>
<li>Has strong interpersonal and communication skills, especially in multi-cultural contexts (bonus points for fluency in a major foreign language such as Mandarin, Cantonese, Portuguese, French, Spanish, Hindi, etc.)</li>
<li>Has an agile mindset and experience as a designer in a lean startup (valuable even if it failed, what's important is that you learned how to learn in that environment).</li>
</ul>
<p/>
If these challenges sound like fun and you're looking for a chance to work with an experienced team at a well-funded start-up where you can really make a difference - not only in all aspects of the development lifecycle but in the future of the planet - you've come to the right place. 

<h3>What to expect:</h3>

Be prepared to work hard as we run fast towards our one year goal of a billion products registered. Your first task upon being hired will be to pick up an experiment already in progress with 15 south Asian suppliers of our first customer, a major apparel brand, and refine the supplier experience to make data collection seamless. From there we move on to suppliers in other parts of the world, for other customers, and eventually in other industries. We expect there to be continual user experience challenges as we move into more industries and more suppliers. 
<p/><p/>
The biggest measures of your success will be the supplier onboarding time. Whereas enterprise database integration projects typically take 3 - 6 months, ODR's goal is to ultimately reduce the onboarding process to less than one hour, and the act of registering data to no more than five minutes. ODR has the technology back-end to make this possible. The hardest challenge to realizing this vision is designing the user experience to match current work practices so that sharing data is intuitive and easy. 

<h3>Compensation:</h3>
<ul>
<li> Competitive salary, benefits and equity share</li>
</ul>
 
<h3>How to Apply:</h3>

Send us an email with your resume to <a href="mailto:UX_designer-job@opendataregistry.com">UX_designer-job@opendataregistry.com</a>
<ul>
<li>Tell us in the email what motivated you to apply for this position.</li>
<li>Include links to three or more web apps you designed (preferably live apps but video demos are also OK).</li>
<li>Describe the specific role you had in designing the user experience for each app, as well as the roles of the other key contributors.</li>
</ul>

<h3>Next Steps:</h3>

<ul> 
<li>Only candidates who are selected for further consideration will be contacted.</li>
<li>If you are selected for further consideration, then you will receive an email asking you to answer in writing a couple of hypothetical questions about real-world situations you might face if you are hired.</li>
<li>If you pass this screen, then you will be invited to a group interview with two other qualified candidates.</li>
<li>If you are selected as a finalist, then you will be invited to an individual interview audition where you will be asked to spend an afternoon with our founding team planning out the first design field trip you would take to visit the south Asian suppliers participating in ODR's pilot project.</li>
</ul>

    </div>
    
</div>
