

<div class="users-wrap grid-back">
    <div class="container users">

<h2>Open Position: UX Designer</h2>
Company: Open Data Registry, <a href="opendataregistry.com">opendataregistry.com</a><p/>
Location: Berkeley, CA


<h3>The Company:</h3>

Are you looking to work for a company that combines cutting-edge technology with a big vision? Open Data Registry's mission is to make transparent the environmental, social and health impacts of 80% of products on Earth by 2020.<p>
<p/>
We are building a supply chain intelligence platform for a new generation of collaborative web apps that will unlock the $1 trillion of business value hidden in the inter-enterprise data distributed across global supply chains. These apps make it more valuable for product manufacturers to share their data on the web than it is to not share it, creating the network effects needed to achieve our 80/20 mission.
<p/>
Our founding team is a Stanford MBA, a member of the Sustainability Hall of Fame, and one of the world's leading experts in Linked Data and the Semantic Web.
<p/>
We have seed funding from Andreessen Horowitz and major consumer brands as pilot customers. The key milestone we are driving towards in this seed stage is a public launch in Fall 2013 with one billion products already registered (we already have 20 million registered so far).

<h3>The Role:</h3>

We are looking for a lead UX service designer who will be responsible for building a 'zero overhead' system for all ODR users, from data suppliers to data consumers. You will:
<p/>
 <ul > <li>Analyze suppliers' workflow and information assets to understand what is easy/difficult for them to provide</li>
<li>Design information gathering processes that interact with supplier workflow to make the collection of data as seamless as possible</li>
<li>Refine the user experience through repeated experimentation and redesign (user testing, product design)</li>
<li>We'll need you to have an agile mindset so that our product works for many different types of users: customers, suppliers, brands, industry regulators, etc., and with users from around the world </li>
<li>International travel in developing countries required (i.e. India, Pakistan, China, Brazil, Turkey)</li>
<li>Design data utilization apps that demonstrate the value of collecting the data</li>
</ul>
All in all, the experience of the user community has to be such that it is more attractive to share data than it is to keep it secret. There are two major contributions to this; proving data has to be easy ('zero overhead'), and it has to return value to the person providing it.  You will be responsible for both ends of this equation. 

<h3>Our Ideal Candidate:</h3>
<ul>
<li>Has lead the design of a successful solution to a "grand challenge" design problem</li>
<li>Has familiarity with ethnography and other information collection methodologies</li>
<li>Can see the big picture of a user-centered system, from information providers to information consumers. </li>
<li>Has a portfolio of showcase web applications (showing off skill innovating novel solutions to very hard design challenges) </li>
<li>Has an affinity and aptitude for distributed data applications.  </li>
<li>Is a learning animal who is quick at picking up new technologies (languages, APIs, design patterns, etc)</li>
<li>Has strong interpersonal and communication skills, especially in multi-cultural contexts.</li>
<li>Has experience as a designer in a lean startup (valuable even if it failed, what's important is that you learned how to learn in that environment)</li>
</ul>
<p/>
 
If these challenges sound like fun and you're looking for a chance to work with an experienced team at a well-funded start-up where you can really make a difference - not only in all aspects of the development lifecycle, but in the future of the planet, you've come to the right place. 

<h3>What to expect:</h3>

Be prepared to work hard and as we run fast towards our one year goal of a billion products registered.  Your first task upon being hired will be to pick up an experiment already in progress with 15 south Asian suppliers of our first customer, a major apparel brand, refine the supplier experience to make data collection seamless. From there we move on to suppliers in other parts of the world, for other customers, and eventually in other industries.  We expect there to be continual user experience challenges as we move into more industries and more suppliers. 
<p/>
The biggest measures of your success will be the supplier onboarding time.  Whereas typical enterprise database integration projects typically take 3 - 6 months, ODR's goal is to reduce the onboarding process to less than one hour, and the act of registering data to no more than five minutes.  ODR has the technology back-end to make this possible.  The hardest challenge to realizing this vision is designing the user experience to match current work practices so that sharing data is intuitive and easy. 


<h3>Compensation:</h3>
<ul>
<li> Competitive salary, benefits and equity share</li>
</ul>
 
<h3>How to Apply:</h3>

Send us an email with your resume to <a href="mailto:web_developer-job@opendataregistry.com">web_developer-job@opendataregistry.com</a>

<p/>
<ul>
<li>          tell us in the email what motivated you to apply for this position</li>
<li>          include links to three or more web apps you developed (preferably live apps but video demos also OK)</li>
<li>          describe the specific role you had in developing each app, and the roles of the other key contributors</li>
</ul>
 
<h3>Next Steps:</h3>

<ul> 

<li> Only candidates who are selected for further consideration will be contacted.</li>
<li>          If you are selected for further consideration, then you will receive an email asking you to answer in writing a couple of hypothetical questions about real-world situations you might face if you are hired.</li>
<li>          If you pass this screen, then you will be invited to a group interview with two other qualified candidates.</li>
<li>          If you are selected as a finalist, then you will be invited to an individual interview audition where you will be asked to code up a prototype app in a "private hackathon" with our founding team.</li>
</ul>


    </div>
    
</div>
