<div class="blue-back">
    <div class="container small-header-row">
        <div class="sixteen columns"></div>
    </div>
</div>
    

<div class="container large-padding-top">
    <div class="sixteen columns">    
        <form class="form-stacked centered-form" action="<%=base%>/users/login" id="login_form" method="post">
            <fieldset>
                <legend><h2>Login with your ODR account</h2></legend>
                <%- flashMessages %>
                <div class="clearfix">
                    <label for="email">Email</label>
                    <div class="input">
                        <input class="xlInput span6" type="text" name="email" id="email" value="<%=user.email || ''%>" />
                    </div>
                </div> 

                <div class="clearfix">
                    <label for="password">Password</label>
                    <div class="input">
                        <input class="xlInput span6" type="password" name="password" id="password" />
                    <div>
                </div> 
                <input type="hidden" name="redirect" value="<%=redirect || ''%>" />
            </fieldset>
            <div class="actions">
                <input class="btn" type="submit" value="Log in" />
            </div>
        </form> 
    </div>
</div> 
